html{
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Helvetica;
}

h3{
  color : #333;
  font-size: 1.6rem;
}
.main-nav-linkstyle li a{
  font-size: 1.4rem;
}
.main-logo{
  font-size: 1.8rem;
  font-weight: 600;
}
.main-logo a:link, .main-logo a:visited{
  color: #6B5AED;
}
.main-title-content{
  font-size: 6rem;
  font-weight: bolder;
  color: #000;
  line-height: 7rem;
  margin-bottom: 2rem;
  animation-duration: 4s;
  animation-name: colorchange;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.main-subtitle-content{
  text-align: center;
  font-size: 2.6rem;
  color: #707070;
  margin: 0 auto;
}
.section-title-content{
  font-size: 5rem;
  font-weight: bolder;
  color: #000;  
}
.section-subtitle-content{
  font-size: 2.2rem;
  color: #707070;
  margin: 0 auto;
  padding-bottom: 10rem;
}
.background-center-text{
  font-size: 4rem;
  font-weight: bolder;
  color: #ffffff;
  overflow: hidden;
}