
.section--blue{
	background-color: #f4f8fe;
  }

/* CENTRER vertical ET horizontal UN ELEMENT DANS SON BLOCK */
.container--flex{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}


.flex-basis{
	flex-basis: 100%;
}

/* CENTRER UNE IMAGE BACKGROUND */
.background--center{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* CENTRER UNE IMAGE DE CONTENU */
.objectfit--cover{
    object-fit: cover;
}

/* GRILLE 5 COLONES */
.grid-col-5{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
	grid-gap: 2em;
}

/* GRILLE 6 COLONES */
.grid-col-6{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	grid-gap: 2em;
}


/* BLOC DE DEMO TRANSFORM */ 
.element {
    text-align: center;
    display: inline-block;
    background-color: #0074d9;
    height: 10rem;
    width: 10rem;
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
}


/*******************/
/* Bloc démo Flex */
.square{
    background: tomato;
    margin: 1.5rem;
    width: 20rem;
    height: 15rem;
}
.square p, .square--small p{
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
.square--small{
    background: rgb(71, 172, 255);
    margin: 1.5rem;
    width: 10rem;
    height: 8rem;
}