
.section--blue{
	background-color: #f4f8fe;
  }

/* Animaton du titre des pages */
.title--animate{
	animation-duration: 4s;
	animation-name: colorchange;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
/****************************/
/* BODY Backgorund responsive */
@media screen and (max-width: 960px) {
	.section--blue {
	  background-color: rgb(255, 243, 243);
   }
}

@media screen and (max-width: 768px) {
	.section--blue {
	  background-color: rgb(240, 255, 244);
   }
}
@media screen and (max-width: 375px) {
	.section--blue {
	  background-color: rgb(241, 233, 255);
   }
}


/* CENTRER vertical ET horizontal UN ELEMENT DANS SON BLOCK */
.container--flex{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}


.flex-basis{
	flex-basis: 100%;
}

/* CENTRER UNE IMAGE BACKGROUND */
.background--center{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* CENTRER UNE IMAGE DE CONTENU */
.objectfit--cover{
    object-fit: cover;
}

/* GRILLE 5 COLONES */
.grid-col-5{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
	grid-gap: 2em;
}

/* GRILLE 6 COLONES */
.grid-col-6{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	grid-gap: 2em;
}


/* BLOC DE DEMO TRANSFORM */ 
.element {
    text-align: center;
    display: inline-block;
    background-color: #0074d9;
    height: 10rem;
    width: 10rem;
    color: white;
	margin : 4rem;
}


/*******************/
/* Bloc démo Flex */
.square{
    background: tomato;
    margin: 1.5rem;
    width: 20rem;
    height: 15rem;
}
.square p, .square--small p{
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
.square--small{
    background: rgb(71, 172, 255);
    margin: 1.5rem;
    width: 10rem;
    height: 8rem;
}