/*********************/
/*  BOUTON SEE MORE */
.button-see-more{
    background-color: #6B5AED;
    text-decoration: none;
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    border: none;
    width: 18rem;
    height: 6rem;
    transition: all .2s ease-in;
  }
  .button-see-more:hover{
    background-color: rgb(142, 128, 247);
    box-shadow: 0 0 16px rgb(198, 209, 230, 1);
  
  }
  .button-see-more:active{
    background-color: rgb(83, 60, 255);
  }