.container {
    border : 1rem solid rgb(218, 218, 218);
    height: auto;
}
.height--custom {
    flex-wrap: nowrap;
    height : 50rem;
}
.flex--left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
.flex--wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.square--grow {
    flex-grow: 3;
}

.square--align-bottom {
    align-self: flex-end
}
.square--align-top {
    align-self: flex-start;
}