/*************/
/* HOME PAGE */
/*************/

/*************************
/* Section 01 Resize Me */
.block__image--content{
    max-width: 25%;
    height: 30rem;
    box-shadow: 0 0 26px rgb(198, 209, 230, .5);
}
.block__image--content img{
    width: 100%;
    height: 100%;
}
.block__image--bg{
    width: 60%;
    height: 30rem;
    border: solid 18px #ffffff;
    background-image:url("../images/large/02-monkey-lg.jpg") ;
    background-color:#c7c7c7;
}


/********************************/
/* Section 02  Colonnes de texte*/
.block__text--3cols{
    columns: 10rem 3;
    padding: 1rem;
    /* Goutière */
    column-gap: 4rem;
    /*Séparateur de colonne */
    column-rule: .05rem solid rgb(100, 100, 100);
    /* définis la manière de remplire des colonnes  Balance-all ou Auto*/
    column-fill: initial;
}


/*******************/
/* Section 04 Grid */
.block__grid--gorilla{
    background-color: #f4f8fe;
    width: 100%;
    border-radius: 0.5em;
    height: 25rem;
  }
.block__grid--gorilla img{
    height: 100%;
    width: 100%;
  }
.block__grid--gorilla h3, .block__grid--gorilla p{
    padding : 1em;
  }
  .card--first-row{
    grid-column: span 3;
  }
  .card--last-row{
    grid-column: span 2;
  }

/***********************/
/* Section 05 Transforms */
.square--transform{
    transition:all 0.3s ease;
}
.square--animate{
    animation: skew 2s infinite;
    animation-direction: alternate;
}
